
#overlay1 {
            background-color: rgba(46, 65, 68, 0.5); 
            padding: 20px;
            display: inline-block;  
            color: rgb(109, 203, 134);   
            text-shadow: 2px 2px 4px rgba(201, 141, 141, 0.7);
            font-size: 20px;
            font-weight: bold;
            overflow: auto;
            }

#overlay {
            background-color: rgba(46, 65, 68, 0.5); 
            padding: 20px;
            display: block;        
            overflow: auto;
            text-align: center;
            color: rgb(109, 203, 134);
            text-shadow: 2px 2px 4px rgba(201, 141, 141, 0.7);
            font-size: 20px;
            font-weight: bold;
            }
  
  
@media screen and (max-width: 600px) {
                .overlay1, .overlay {
                    width: 100%;
                }
            }