.icons {
    text-align: center;
}
.icons a {
    text-decoration: none;
    margin-right: 20px;
}
.fa-solid.fa-house.fa-5x {
    color:hsl(152, 78%, 22%);
}
.fa-solid.fa-house.fa-5x:hover {
    color:hsl(152, 78%, 32%);
}
.fa-brands.fa-facebook.fa-5x {
    color:hsl(236, 88%, 32%);
}
.fa-brands.fa-facebook.fa-5x:hover {
    color:hsl(236, 88%, 42%);
}
.fa-brands.fa-youtube.fa-5x {
    color:hsl(4, 92%, 26%);
}
.fa-brands.fa-youtube.fa-5x:hover {
    color:hsl(4, 92%, 36%);
}
.fa-brands.fa-tiktok.fa-5x {
    color:hsl(0, 0%, 4%);
}
.fa-brands.fa-tiktok.fa-5x:hover {
    color:hsl(0, 0%, 20%);
}

@media screen and (max-width: 600px) {
    icons {
        width: 100%;
    }
}