body{
    background-color: hsl(0, 3%, 11%);
}
h1{
    color: lightgreen;
}
#p1{
    color: red;
}
#p2{
    color: rgb(72, 140, 80);
}
#p3{
    color: #372d87;
}
#p4{
    color: hsl(306, 35%, 31%);
}